@use "../../partials/variables.scss" as *;
@use "../../partials/mixins.scss" as *;

.projects {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    font-size: 10rem;
    margin-bottom: 4rem;
  }

  &__header span {
    margin-right: 2rem;
    font-weight: 700;
  }

  &__main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // scroll-snap-type: y mandatory;
    // overflow-y: scroll;
    // height: 100%;
  }

  &__container {
    padding: 1.5rem;
    // scroll-snap-align: start;
  }

  @include web-tablet-adjust {
    &__container {
      height: 80rem;
    }
  }

  @include tablet-mid {
    & {
      padding: 2rem 0;
    }
  }

  @include tablet {
    & {
      padding-top: 0;
    }

    &__header {
      font-size: 8rem;
    }
  }

  @include mobile-tablet {
    & {
      padding: 0;
    }

    &__header {
      font-size: 6rem;
    }
  }

  @include mobile {
    &__header {
      font-size: 5rem;
    }
  }
}
