@use "../../partials/variables.scss" as *;
@use "../../partials/mixins.scss" as *;

.project {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 6rem 7.5rem;
  display: flex;
  justify-content: space-evenly;

  &--blur {
    margin: 15rem 0 0 0;
    position: absolute;
    background: #89d4cf;
    z-index: 1;
    filter: blur(50px);
    width: 30rem;
    height: 40rem;
  }

  &__photo {
    display: flex;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    width: 67rem;
    z-index: 2;
    border-radius: 5px;
  }

  &__details {
    position: relative;
    z-index: 2;
    padding: 3rem 4rem;
    height: 45rem;
    width: 45rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
  }

  &__header {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__tech-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__tech-header {
    display: flex;
    align-self: flex-start;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 2rem;
  }

  &__tech-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__tech {
    background-color: #89d4cf;
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);

    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__description {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  &__buttons {
    display: flex;
  }

  &__live-site,
  &__github {
    border: none;
    margin-right: 1.1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: #6e45e1;
    color: $white;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__github-icon {
    margin-right: 0.2rem;
  }

  &__live-site:link,
  &__github:link,
  &__live-site:visited,
  &__github:visited,
  &__live-site:active,
  &__github:active,
  &__live-site:hover,
  &__github:hover {
    text-decoration: none;
    color: $white;
  }

  &__github {
    display: flex;
    align-items: center;
  }

  @include web-adjust {
    &__photo {
      height: 33rem;
      width: 50rem;
    }

    &--blur {
      margin: 10rem 0 0 0;
      filter: blur(50px);
      width: 20rem;
      height: 30rem;
    }
  }

  @include web-tablet-adjust {
    & {
      flex-direction: column;
      height: 100%;
      width: 70rem;
      padding: 5rem 7.5rem 2rem 7.5rem;
    }

    &__details {
      padding: 3rem 0 0 0;
      height: auto;
      width: 70%;
      justify-content: start;
    }

    &--blur {
      margin: -30rem 0 0 15rem;
      filter: blur(50px);
      width: 20rem;
      height: 30rem;
    }
  }

  @include mobile-tablet {
    & {
      padding: 3rem 6rem 2rem 6rem;
      width: 40rem;
      height: 62rem;
    }

    &__photo {
      height: 21rem;
      width: 34rem;
    }

    &__details {
      width: 90%;
    }

    &__description {
      margin-bottom: 2.5rem;
      margin-top: 0.8rem;
    }

    &--blur {
      margin: -20rem 0 0 5rem;
      filter: blur(50px);
      width: 14rem;
      height: 20rem;
    }
  }

  @include mobile {
    & {
      padding: 0;
      width: 30rem;
      height: 58rem;
    }

    &--blur {
      margin: -20rem 0 0 10rem;
      filter: blur(50px);
      width: 9rem;
      height: 15rem;
    }

    &__photo {
      height: 18rem;
      width: 27rem;
    }
  }
}
