@use "../../partials/variables.scss" as *;
@use "../../partials/mixins.scss" as *;

.project {
  overflow: hidden;
  width: 97rem;
  border-radius: 0.7rem;
  height: 45rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 6rem 7.5rem;
  display: flex;

  &__photo {
    display: flex;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 27rem;
    width: 40rem;
    border-radius: 0.7rem;
  }

  &__details {
    padding: 3rem 4rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__tech-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__tech-header {
    display: flex;
    align-self: flex-start;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 2rem;
  }

  &__tech-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__tech {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__description {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  &__buttons {
    display: flex;
  }

  &__live-site,
  &__github {
    border: none;
    margin-right: 1.1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: $btn;
    color: $white;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__github-icon {
    margin-right: 0.2rem;
  }

  &__live-site:link,
  &__github:link,
  &__live-site:visited,
  &__github:visited,
  &__live-site:active,
  &__github:active,
  &__live-site:hover,
  &__github:hover {
    text-decoration: none;
    color: $white;
  }

  &__github {
    display: flex;
    align-items: center;
  }

  @include web-tablet-adjust {
    & {
      flex-direction: column;
      height: 65rem;
      width: 50rem;
      padding: 5rem 7.5rem 2rem 7.5rem;
    }

    &__details {
      padding: 3rem 0 0 0;
      width: 100%;
    }
  }

  @include mobile-tablet {
    & {
      padding: 3rem 6rem 2rem 6rem;
      width: 40rem;
      height: 62rem;
    }

    &__photo {
      height: 21rem;
      width: 34rem;
    }

    &__description {
      margin-bottom: 2.5rem;
      margin-top: 0.8rem;
    }
  }

  @include mobile {
    & {
      padding: 1.7rem 2rem 2rem 2rem;
      width: 30rem;
      height: 58rem;
    }

    &__photo {
      height: 18rem;
      width: 27rem;
    }
  }
}
