@use "../../partials/variables.scss" as *;
@use "../../partials/mixins.scss" as *;

input[type="number"] {
  -moz-appearance: textfield;
}

.contact-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $modal-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  z-index: 100;
  color: $black;

  &__content {
    height: 60rem;
    width: 60rem;
    background-color: $white;
    border-radius: 0.2rem;
    padding: 0.3rem;
    color: $black;
  }

  &__icon-container {
    width: 100%;
    height: fit-content;
    text-align: right;
  }

  &__x-icon {
    font-size: 3rem;
    cursor: pointer;
  }

  &__phone::-webkit-outer-spin-button,
  &__phone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.3rem;
    width: 100%;
  }

  &__header {
    font-size: 4.2rem;
    font-weight: 600;
    margin-right: 1.4rem;
    color: $black;
  }

  &__emoji {
    width: 5rem;
    height: auto;
  }

  &__main-container {
    padding: 0 10rem;
    height: 54rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__subject-container,
  &__name-container,
  &__email-container,
  &__phone-container,
  &__message-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  &__subject-label,
  &__name-label,
  &__email-label,
  &__phone-label,
  &__message-label {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    color: $black;
  }

  &__subject,
  &__firstname,
  &__email,
  &__phone,
  &__message {
    width: 30rem;
    height: 4rem;
    border: 0.1rem solid hsla(0, 0%, 59%, 0.5);
    background-color: hsla(0, 0%, 96%, 0.9);
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    color: $black;
  }

  &__message {
    height: 8rem;
    padding-top: 1rem;
    resize: none;
  }

  &__btn-container {
    text-align: right;
    padding-top: 0.3rem;
  }

  &__btn {
    padding: 1rem 2.7rem 1.1rem 2.7rem;
    border-radius: 7rem;
    border: none;
    background-color: $black;
    color: $white;
    font-weight: 600;
    font-size: 1.4rem;
    cursor: pointer;

    // &:hover {
    //   background-color: $btn-hover;
    // }
  }

  @include tablet {
    & {
      overflow-y: scroll;
    }

    &__content {
      width: 40rem;
    }

    &__header {
      font-size: 3rem;
    }

    &__emoji {
      width: 4rem;
      height: auto;
    }

    &__main-container {
      padding: 0 4rem;
    }
  }

  @include mobile-tablet {
    & {
      overflow-y: scroll;
    }
  }

  @include mobile {
    &__content {
      width: 30rem;
    }

    &__subject,
    &__firstname,
    &__email,
    &__phone,
    &__message {
      width: 20rem;
      overflow-y: scroll;
    }
  }

  @include mobile-small {
    & {
      display: unset;
    }

    &__content {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
