@use "../../partials/mixins.scss" as *;
@use "../../partials/variables.scss" as *;

.header {
  height: 100vh;
  display: flex;
  width: 100vw;
  max-width: 192rem;

  &__left {
    background-color: pink;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__about-container {
    animation: slideInRight 1s forwards;
  }

  &__heading {
    font-size: 9rem;
    font-weight: 700;
  }

  &__about {
    font-size: 3.3rem;
    margin-bottom: 0.5rem;
  }

  &__about span {
    font-weight: 700;
  }

  &__right {
    // background-color: grey;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__tech-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 55rem;
    animation: slideInLeft 1s forwards;
  }

  &__tech {
    background-repeat: no-repeat;
    background-size: contain;
    height: 15rem;
    width: 15rem;
    background-position: center;
  }

  &__tech-padding {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &__tech-html {
    background-image: url("../../files/html.png");
    background-size: 127px;
  }

  &__tech-css {
    background-image: url("../../files/css.png");
  }

  &__tech-js {
    background-image: url("../../files/js.png");
    background-size: 133px;
  }

  &__tech-sass {
    background-image: url("../../files/sass.png");
  }

  &__tech-react {
    background-image: url("../../files/react.png");
    background-size: 120px;
  }

  &__tech-nodejs {
    background-image: url("../../files/nodejs.png");
  }

  &__tech-express {
    background-image: url("../../files/express.svg");
  }

  &__tech-mysql {
    background-image: url("../../files/mysql.png");
    background-size: 170px;
  }

  &__tech-git {
    background-image: url("../../files/git.png");
  }

  @include web-mid {
    &__heading {
      font-size: 7.6rem;
    }

    &__about {
      font-size: 2.8rem;
    }
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100rem);
  }
  100% {
    tranform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100rem);
  }
  100% {
    tranform: translateX(0);
  }
}
