@use "../../partials/mixins.scss" as *;
@use "../../partials/variables.scss" as *;

.header {
  height: 100vh;
  display: flex;
  width: 100vw;
  max-width: 192rem;
  overflow: hidden;

  &__left {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    // background-color: red;
  }

  &__about-container {
    animation: slideInRight 1s forwards;
    padding: 3rem;
  }

  &__heading {
    font-size: 9rem;
    font-weight: 700;
  }

  &__about {
    font-size: 3.3rem;
    margin-bottom: 0.5rem;
  }

  &__about span {
    font-weight: 700;
  }

  &__mid {
    width: 4%;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__arrow-container {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  &__arrow-icon {
    position: relative;
    font-size: 8rem;
    cursor: pointer;
    animation: slideInUp 1s forwards;
    z-index: 1;
  }

  &__link,
  &__link:visited,
  &__link:active,
  &__link:link,
  &__link:hover {
    cursor: none;
    text-decoration: none;
    color: $black;
  }

  &__right {
    // background-color: grey;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__tech-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70rem;
    animation: slideInLeft 1s forwards;
  }

  &__tech {
    background-repeat: no-repeat;
    background-size: contain;
    height: 14rem;
    width: 14rem;
    background-position: center;
  }

  &__tech-padding {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &__tech-html {
    background-image: url("../../files/html.png");
    background-size: 127px;
  }

  &__tech-css {
    background-image: url("../../files/css.png");
  }

  &__tech-js {
    background-image: url("../../files/js.png");
    background-size: 135px;
  }

  &__tech-sass {
    background-image: url("../../files/sass.png");
  }

  &__tech-react {
    background-image: url("../../files/react.png");
    background-size: 120px;
  }

  &__tech-nodejs {
    background-image: url("../../files/nodejs.png");
  }

  &__tech-express {
    background-image: url("../../files/express.svg");
  }

  &__tech-mysql {
    background-image: url("../../files/mysql.png");
    background-size: 170px;
  }

  &__tech-git {
    background-image: url("../../files/git.png");
  }

  &__tech-python {
    background-image: url("../../files/python.png");
  }

  @include web-mid {
    &__heading {
      font-size: 7.2rem;
    }

    &__about {
      font-size: 2.6rem;
    }

    &__tech-container {
      width: 60rem;
    }

    &__tech {
      background-repeat: no-repeat;
      background-size: contain;
      height: 11rem;
      width: 11rem;
      background-position: center;
    }

    &__tech-css {
      background-size: 128px;
    }

    &__tech-js {
      background-size: 118px;
    }
  }

  @include web-adjust {
    &__heading {
      font-size: 6rem;
    }

    &__about {
      font-size: 2rem;
    }

    &__about-container {
      padding: 3rem 1rem;
    }

    &__tech-container {
      width: 50rem;
    }

    &__tech {
      background-repeat: no-repeat;
      background-size: contain;
      height: 9rem;
      width: 9rem;
      background-position: center;
    }

    &__tech-css {
      background-size: 105px;
    }

    &__tech-js {
      background-size: 100px;
    }
  }

  @include web-tablet-adjust {
    & {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 90rem;
      padding-top: 4rem;
    }

    &__mid {
      display: none;
    }

    &__left {
      margin-top: 5rem;
      width: fit-content;
      margin-bottom: 6rem;
    }

    &__right {
      width: max-content;
    }

    &__heading {
      margin-bottom: 2rem;
    }

    &__about {
      font-size: 2.3rem;
    }

    &__tech-css {
      background-size: 104px;
    }

    &__tech-js {
      background-size: 98px;
    }
  }

  @include tablet {
    & {
      height: 105rem;
      padding-top: 5rem;
    }

    &__tech-container {
      width: 30rem;
    }

    &__heading {
      font-size: 5rem;
    }

    &__about {
      font-size: 1.8rem;
    }

    &__left {
      margin-top: 0;
    }

    &__right {
      width: 100%;
    }
  }

  @include mobile-adjust {
    &__heading {
      font-size: 4rem;
    }

    &__about {
      font-size: 1.4rem;
    }
  }

  @include mobile-mix {
    & {
      height: 95rem;
      padding-top: 5rem;
    }

    &__left {
      margin-bottom: 3rem;
    }

    &__heading {
      font-size: 3.3rem;
    }

    &__about {
      font-size: 1.1rem;
    }
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100rem);
  }
  100% {
    tranform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100rem);
  }
  100% {
    tranform: translateX(0);
  }
}

@keyframes slideInUp {
  from {
    bottom: -20rem;
    z-index: 1;
  }
  to {
    bottom: 0;
    z-index: 1;
  }
}
