@use "../../partials/mixins.scss" as *;
@use "../../partials/variables.scss" as *;

.header {
  height: 87vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 192rem;
  overflow: hidden;

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &__about-container {
    animation: slideInRight 1s forwards;
    padding: 3rem;
  }

  &__heading {
    font-size: 8rem;
    font-weight: 700;
  }

  &__about {
    font-size: 3.3rem;
    margin-bottom: 0.5rem;
  }

  &__about span {
    font-weight: 700;
  }

  &__mid {
    width: 4%;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__arrow-container {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  &__arrow-icon {
    position: relative;
    font-size: 8rem;
    cursor: pointer;
    animation: slideInUp 1s forwards;
    z-index: 1;
  }

  &__link,
  &__link:visited,
  &__link:active,
  &__link:link,
  &__link:hover {
    cursor: none;
    text-decoration: none;
    color: $black;
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__tech-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60rem;
    animation: slideInLeft 1s forwards;
  }

  &__tech-icon {
    font-size: 100px;
    height: min-content;
  }

  &__sass {
    margin: 0 2rem 0 1.5rem;
  }

  &__typescript--background {
    margin-right: 1rem;
    margin-left: 2rem;
    margin-top: 0.6rem;
    width: 88px;
    height: 88px;
    background: linear-gradient(to bottom right, #1fd1f9 0%, #b621fe 74%);
  }

  &__typescript {
    background-color: black;
    font-size: 8.8rem;
    margin-bottom: 0.2rem;
  }

  &__nodejs--container {
    position: relative;
    height: 100px;
  }

  &__nodejs {
    position: relative;
    bottom: 2rem;
    font-size: 140px;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &__mysql {
    margin-left: 2rem;
    margin-right: 1rem;
  }

  @include web-mid {
    &__heading {
      font-size: 7.2rem;
    }

    &__about {
      font-size: 2.6rem;
    }

    &__tech-container {
      width: 60rem;
    }
  }

  @include web-adjust {
    &__heading {
      font-size: 6rem;
    }

    &__about {
      font-size: 2rem;
    }

    &__about-container {
      padding: 3rem 1rem;
    }

    &__tech-container {
      width: 50rem;
    }
  }

  @include web-tablet-adjust {
    & {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 90rem;
      padding-top: 4rem;
    }

    &__mid {
      display: none;
    }

    &__left {
      margin-top: 5rem;
      width: fit-content;
      margin-bottom: 6rem;
    }

    &__right {
      width: max-content;
    }

    &__heading {
      margin-bottom: 2rem;
    }

    &__about {
      font-size: 2.3rem;
    }
  }

  @include tablet {
    & {
      height: 105rem;
      padding-top: 5rem;
    }

    &__tech-container {
      width: 30rem;
    }

    &__heading {
      font-size: 5rem;
    }

    &__about {
      font-size: 1.8rem;
    }

    &__left {
      margin-top: 0;
    }

    &__right {
      width: 100%;
    }
  }

  @include mobile-adjust {
    &__heading {
      font-size: 4rem;
    }

    &__about {
      font-size: 1.4rem;
    }
  }

  @include mobile {
    & {
      height: 110rem;
      padding-top: 0rem;
    }
  }

  @include mobile-mix {
    & {
      height: 100rem;
    }

    &__left {
      margin-bottom: 3rem;
    }

    &__heading {
      font-size: 3.3rem;
    }

    &__about {
      font-size: 1.1rem;
    }
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100rem);
  }
  100% {
    tranform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100rem);
  }
  100% {
    tranform: translateX(0);
  }
}

@keyframes slideInUp {
  from {
    bottom: -20rem;
    z-index: 1;
  }
  to {
    bottom: 0;
    z-index: 1;
  }
}
