@use "../../partials/variables.scss" as *;

.navbar {
  padding: 1.5rem 2.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 192rem;
  background: $white;

  &__logo {
    font-size: 3.2rem;
    font-weight: 500;
    cursor: pointer;
  }

  &__link {
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    align-self: flex-end;
    margin-left: 1.1rem;

    &:hover {
      color: $btn;
    }
  }

  &__links-list {
    display: flex;
  }
}
