$black: hsla(0, 0%, 0%, 1);
$modal-bg: hsla(0, 0%, 0%, 0.6);
$black-hover: hsla(0, 0%, 30%, 1);
$white: hsla(0, 0%, 100%, 1);
$btn: hsla(359, 77%, 56%, 1);
$btn-hover: hsla(359, 77%, 40%, 1);
$dwnld-btn: hsl(207, 90%, 54%);
$dwnld-btn-hover: hsl(208, 79%, 51%);
